/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.clear {
  background-image: url('images/clear.jpg');
}

.clouds {
  background-image: url('images/clouds.jpg');
}

.rain {
  background-image: url('images/rain.jpg');
}

.snow {
  background-image: url('images/snow.jpg');
}

.thunderstorm {
  background-image: url('images/thunderstorm.jpg');
}

.mist {
  background-image: url('images/mist.jpg');
}

.app {
  width: 90%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: white;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 70%;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff90;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffffffb0;
}

.current {
  text-align: center;
  margin-top: 20px;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
  margin-top: 30px;
}

.forecast-day {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
}
.extra-info {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-weight: 500;
  color: white;
}
.extra-info p {
  margin: 5px 0;
}
